*{

 margin: 0;
padding: 0;

}

body {
background:red ;
}

.galeria {

width: 100%;

}

.galeria img {

vertical-align:  top;
width: 200px;
margin: 20px;
padding: 5px;
opacity: 0.5;
border: 1px solid #FFf



}

.galeria  img hover {


border: 1px solid #FFF ;
opacity: 1;


}