body {
	background: #f9a03f;
}

.articulo {
	background: #666;
    color: red;
    font-family:  verdana ;
    font-size: 15px;
   width:  300px;
   margin-left: 500px;
    text-decoration: underline black ;

}

h2 {

   color: green;
   text-align: center;


}
p{ 
font-size: 16px;
font-family:arial black;
padding: 15px;
padding-top: 10px;
padding-left: 30px;
padding-bottom: 20px

otro ejemplo seria poner elpadding en uno solo  15px ;10px;30px;20px;



 }