.caja {

width: 200px;
height: 200px;
background:   #9eb3c2;
animation: movimiento 20s ease infinite;

}

@keyframes movimiento{
 

0%{transform:translate(0px); }
50%{transform:translate(500px); }
100%{transform:translate(0px); }

/*@keyframes color: {

0%{background: #9eb3c2;}
25%{background: #000000;}
75%{background: black;}
100%{background: orange;}
*/

}

}