body {


background: #f2f2f2;
 font-family: arial,sans-serif


}
div {

margin: 20px;

}

.btn {

background: #32021f;
color: #fff;
font-size: 16px;
 text-decoration:none; 
padding: 15px 20px;
display: inline-block;
margin:  0px 10px;


}

.btn:hover{

opacity: .9
}

.small {
font-size:14px
padding15px 20px;

}

.big {

font-size: 24px
padding 24px 25px;


}
.extra-big {

font-size: 18px;
padding: 25px 30px;

}
.azul {background:  #246eb9;}

.verde {background:  #;}

.naranja {background:  #566675;}

.border-radius {

border-radius:100px;


}