*{
padding: 0;
margin: 0;



}

body

{

font-family: Brush Script MT  ;
font-size: 22px

}

.caja {

	background:  #0353a4;
	width: 200px;
    margin:  20px;
    padding: 20px;
    border:  5px solid  #000;
   /*opacity: 0.9*/
   border:5px rgba(255,0,0,.9) ;
   box-shadow: #eee5e9;

}





.caja p{

background:    #eee5e9;


}
.caja h1,h2{

color: #FFF;
text-shadow:  2px 0px 10px blue ;
 


 }