a {

font-size: 20px; 
text-decoration: none;

}

a:hover   {

background: #f9a03f;
color :#FFF;



}



a:link {

text-decoration:  none;
/*color: red;*/



}

a:visited{
color: brown;

}

a:active {

text-decoration: underline;


}